:root {
    --navBgColor: #5aa9e6;
    --textnormal: #ffffff;
    --secEvenBgColor: #ffffff;
    --secOddBgColor: #a3cef1;
    --textAll: #333;
    --textFooter: #fff;
    --textCard: #333;
}

html[data-color-mode='dark'] {
    --navBgColor: rgb(22, 22, 22);
    --textnormal: #333;
    --secEvenBgColor: rgb(73, 73, 73);
    --secOddBgColor: #fff;
    --textAll: #fff;
    --textFooter: #fff;
    --textCard: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--textAll);
    width: 100vw;
}

.toggle-darkMode {
    position: fixed;
    z-index: 100;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 25px;
    filter: drop-shadow(3px 0 3px rgba(0, 0, 0, 0.2));
}


/* navbar */

nav {
    font-family: 'RocknRoll One', sans-serif;
    background-color: var(--navBgColor);
    color: #fff;
}

.navbar-collapse .nav-item .nav-link {
    color: #fff;
}


/* cards */

#skills .card,
#project .card {
    border-radius: 27px;
    background: var(--secEvenBgColor);
    color: var(--textAll);
}

#education .card,
#contact .card {
    border-radius: 27px;
    background: var(--secOddBgColor);
    color: var(--textCard);
}


/* section */

section {
    padding-top: 6rem;
    font-family: 'Poppins', sans-serif;
}

section .section-title {
    font-size: 3rem;
    font-weight: 400;
}

.jumbotron {
    padding-top: 6rem;
    background-color: var(--secOddBgColor);
}

.sosmed a i {
    color: var(--textnormal);
}

#skills,
#project,
.jumbotron {
    background-color: var(--secOddBgColor);
    color: var(--textnormal);
}

#about,
#education,
#contact {
    background-color: var(--secEvenBgColor);
    color: var(--textAll);
}

footer {
    font-family: 'RocknRoll One', sans-serif;
    background-color: var(--navBgColor);
    color: var(--textFooter);
    padding: 10px;
}

footer i {
    color: var(--textFooter);
}

footer a {
    color: var(--textFooter);
}


/* path */

.jumboPath,
.skillsPath,
.projectPath {
    fill: var(--secEvenBgColor);
}

.aboutPath,
.eduPath {
    fill: var(--secOddBgColor);
}