:root {
    --navBgColor: #0061a8;
    --textnormal: #fdf0e3;
    --secEvenBgColor: #2978b5;
    --secOddBgColor: #8ab6d6;
    --textAll: #fdf0e3;
    --textFooter: #fdf0e3;
    --textCard: #fdf0e3;
}

html[data-color-mode='dark'] {
    --navBgColor: #1d2d50;
    --textnormal: #fcdab7;
    --secEvenBgColor: #133b5c;
    --secOddBgColor: #1e5f74;
    --textAll: #fcdab7;
    --textFooter: #fcdab7;
    --textCard: #fcdab7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--textAll);
    width: 100vw;
    overflow-x: hidden;
}

.toggle-darkMode {
    position: fixed;
    z-index: 100;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 25px;
    filter: drop-shadow(3px 0 3px rgba(0, 0, 0, 0.2));
}


/* navbar */

nav {
    font-family: 'RocknRoll One', sans-serif;
    background-color: var(--navBgColor);
    color: #fff;
}

.navbar-collapse .nav-item .nav-link {
    color: #fff;
}


/* cards */

#skills .card,
#contact .card {
    border-radius: 27px;
    background-color: var(--secEvenBgColor);
    color: var(--textAll);
}

#education .card,
#project .card {
    border-radius: 27px;
    background-color: var(--secOddBgColor);
    color: var(--textAll);
}

#skills .card img {
    filter: drop-shadow(1px 3px 1px rgba(255, 255, 255, 0.5));
}


/* section */

section {
    padding-top: 6rem;
    font-family: 'Poppins', sans-serif;
}

section .section-title {
    font-size: 3rem;
    font-weight: 400;
}

.jumbotron {
    padding-top: 6rem;
    background-color: var(--secOddBgColor);
}

.sosmed a i {
    color: var(--textnormal);
    font-size: 2.8rem;
}

.sosmed a:hover i {
    animation: sosmed-bouncing 3s ease-in-out infinite;
}

#certification img {
    height: 350px;
    border-radius: 20px;
    border: 7px solid var(--textAll);
}

#skills,
#certification,
#contact,
.jumbotron {
    background-color: var(--secOddBgColor);
    color: var(--textnormal);
}

#about,
#education,
#project {
    background-color: var(--secEvenBgColor);
    color: var(--textAll);
}

footer {
    font-family: 'RocknRoll One', sans-serif;
    background-color: var(--navBgColor);
    color: var(--textFooter);
    padding: 10px;
}

footer i {
    color: var(--textFooter);
}

footer a {
    color: var(--textFooter);
}


/* path */

.jumboPath,
.skillsPath,
.certificationPath {
    fill: var(--secEvenBgColor);
}

.aboutPath,
.eduPath,
.projectPath {
    fill: var(--secOddBgColor);
}

@keyframes sosmed-bouncing {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
        transform: scale(0.9, 1.1) translateY(-30px);
    }
    50% {
        transform: scale(1.05, 0.95) translateY(0);
    }
    57% {
        transform: scale(1, 1) translateY(-10px);
    }
    64% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@media (max-width: 990px) {
    #skills img {
        width: 50%;
    }
}